*,*::before,*::after{box-sizing:border-box}*{margin:0}html,body{height:100%}body{line-height:1.5;-webkit-font-smoothing:antialiased}img,picture,video,canvas,svg{display:block;max-width:100%}input,button,textarea,select{font:inherit}p,h1,h2,h3,h4,h5,h6{overflow-wrap:break-word}#root,#__next{isolation:isolate}

.card-item-thumbnail {
    border-radius: 6px;
}

.swiper-button-prev {
    color: RGBA(0, 0, 0, 0.24) !important;
}

.swiper-button-next {
    color: RGBA(0, 0, 0, 0.24) !important;
}

.swiper-scrollbar {
    position: relative !important;
    margin-top: 15px !important;
}

.swiper-scrollbar-drag {
    background: #EDF2F7 !important;
}